@using ApplicationStatusMonitor.Extensions
@model IEnumerable<ApplicationStatusMonitor.Controllers.StatusMonitorReply>
<ul class="statusList">
   <li class="heading">
      <span>Monitor Name</span>
      <span>Computer</span>
      <span>IP</span>
      <span>Updated Time (PST)</span>
      <span>Start Time (PST)</span>
      <span>Status</span>
   </li>
   @foreach (var s in Model)
   {
      <li class="@s.Status?.ToLower()">
         <span>@s.MonitorName</span>
         <span>@s.DisplayName</span>
         <span>@s.LocationId</span>
         <span>@s.LastStatusUpdateTime.ToPacificStandardTime()</span>
         <span>@s.StatusStartTime.ToPacificStandardTime()</span>
         <span>@s.Status</span>
      </li>
   }
</ul>