@using ApplicationStatusMonitor.Extensions
@using ApplicationStatusMonitor.Utility
@model IEnumerable<ApplicationStatusMonitor.Controllers.StatusMonitorReply>
@if (Model.Any())
{
   <ul class="statusList">
      <li class="heading">
         <span>Monitor Name</span>
         <span>Computer</span>
         <span>Source IP</span>
         <span>Status</span>
         <span>Start Time (PST)</span>
         <span>Confirmed Time (PST)</span>
      </li>
      @foreach (var s in Model)
      {
         <li class="@s.Status?.ToLower()">
            <span>@s.MonitorName</span>
            <span><a href="~/MonitorStatus/@s.LocationId/@s.DisplayName">@s.DisplayName</a></span>
            <span><a href="~/MonitorStatus/@s.LocationId">@s.LocationId</a></span>
            <span class="tooltip bottom" aria-label="@StatusDescriptionUtility.GetDescription(s.Status)">@s.Status</span>
            <span>@s.StatusStartTime.ToPacificStandardTime().ToString("M/d/yyy H:mm")</span>
            <span>@s.LastStatusUpdateTime.ToPacificStandardTime().ToString("M/d/yyy H:mm")</span>
         </li>
      }
   </ul>
}
else
{
   <p>No monitors to display</p>
}