@using ApplicationStatusMonitor.Extensions
@using ApplicationStatusMonitor.Utility
@model StatusListPartialModel
@if (Model.StatusMonitorReplies.Any())
{
   <ul class="statusList">
      <li class="heading">
         <span>Monitor Name</span>
         <span>Computer</span>
         <span>Source IP</span>
         <span>Started (PST)</span>
         <span class="@Model.ConfirmedCssClass">Confirmed</span>
         <span class="@Model.DurationCssClass">Duration</span>
         <span>Status</span>
      </li>
      @foreach (var s in Model.StatusMonitorReplies)
      {
         <li class="@s.Status?.ToLower()">
            <span><a href="~/ByMonitor/@s.MonitorName">@s.MonitorName</a></span>
            <span><a href="~/MonitorStatus/@s.LocationId/@s.DisplayName">@s.DisplayName</a></span>
            <span><a href="~/MonitorStatus/@s.LocationId">@s.LocationId</a></span>
            <span>@s.StatusStartTime.ToPacificStandardTimeString()</span>
            <span class="@Model.ConfirmedCssClass">@DurationUtility.GetDuration(s.LastStatusUpdateTime, DateTime.Now) ago</span>
            <span class="@Model.DurationCssClass">@DurationUtility.GetDuration(s.StatusStartTime, s.LastStatusUpdateTime)</span>

            <span class="tooltip bottom" aria-label="@StatusDescriptionUtility.GetDescription(s.Status)">@s.Status</span>
         </li>
      }
   </ul>
}
else
{
   <p>No monitors to display</p>
}